#projects {
  overflow-y: auto;
  height: 75vh;
}

#projects-header{
  margin-top: 1vh;
}

.projects-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 45vw;
  perspective: 5000;
}

.card {
  height: auto;
  width: 45vw;
  transform-style: preserve-3d;
  transition: all .8s linear;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

}

.card > img {
  position: relative;
  display: block;
  width: 45vw;
  height: auto;
  backface-visibility: hidden;
}

.card > .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotateY(180deg);
}

.card ~ .card {
  margin-top: 5vh;
}

.card:last-child {
  margin-bottom: 5vh;
}

.card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.2);
}

