h3 {
  color: rgba(26, 64, 113,1);
  font-family: 'Spectral SC', serif;
  font-size: 1.25em;
}

p {
  font-family: 'Spectral', serif;
  font-size: 1.1em;
  margin-top: 1vh;
}

#projects {
  overflow-y: auto;
  height: 75vh;
}

#projects-header{
  margin-top: 1vh;
  margin-bottom: 2.5vh;
}

.projects-container {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  width: 45vw;
  perspective: 2000;
}

.card {
  height: auto;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .8s linear;
  -moz-transition: all .8s linear;
  transition: all .8s linear;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);

}

.card > img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card > .back {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card ~ .card {
  margin-top: 5vh;
}

.card:last-child {
  margin-bottom: 5vh;
}

.card:hover {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px rgba(0,0,0,0.2);
}

.summary {
  height: 10%;
  width: 100%;
}
.project-name {
  font-size: calc((.4em + .6vmin) + (.4em + .6vmax));
  margin-bottom: 0;
  margin-top: 1vh;
}

.project-description {
  font-size: calc((.1em + .6vmin) + (.1em + .6vmax));
  font-family: 'Spectral', serif;
  margin: 0 auto;
  width: 90%;
}

.left, .right {
 
  margin: 0 auto;
  width: 50%;
  height: 40%
}

.overview {
  display: flex;
  height: 50%;
}

.overview-header {
  font-size: calc((.2em + .5vmin) + (.2em + .5vmax));
  margin-top: 1vh;
  margin-bottom: 0;
}

.overview-content {
  font-size: calc((.1em + .5vmin) + (.1em + .5vmax));
  margin: 0;
}

.btn-container {
  display: flex;
  margin: 0 auto 1vh;
}

.overview-btn {
  height: 3.5vh;
  margin: 1vh;
  margin-top: 1vh;
  font-size: calc((.1em + .6vmin) + (.1em + .6vmax));
  width: 10vw;
  border-radius: 5px;
  background-color: rgb(26, 64, 113);
  color: white;
}

.overview-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.disabled {
  background-color: rgba(0,0,0,0.24);
}
@media only screen and (max-width: 480px) {
  .projects-container {
    width: 80vw;
  }

  .overview-btn {
    width: 20vw;
  }
}

