#resume-page {
  height: 75vh;
  overflow: auto;
}

#resume-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  overflow: auto;
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
}