h1 {
  color: rgb(26, 64, 113);
  position: center;
  font-family: 'Spectral SC', serif;
  font-size: 2.5em;
  margin-top: 8vh;
  margin-bottom: 1vh;
} 

#coming-soon {
  color: rgb(26, 64, 113);
  font-family: 'Spectral SC', serif;
  font-size: 1.75em;
}

#welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 60vh;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  transition: .8s all;
}

/* #welcome:hover {
  top: 0vh;
  width: 100vw;
  height: 100vh;
} */

#welcome-box {
  width: 90vw;
  text-align: center;
}

#strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

#strike > span {
  position: relative;
  display: inline-block;
}

#strike > span:before,
#strike > span:after {
    content: "";
    position: absolute;
    top: 34.5%;
    width: 9999px;
    height: 1px;
    background: grey;
}

#strike > span:before {
  right: 100%;
  margin-right: 15px;
}

#strike > span:after {
  left: 100%;
  margin-left: 15px;
}

#resume {
  height: 60vh;

}
#btn-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  height: 40vw;
}

.links {
  display: flex;
  position: absolute;
  top: 2.5vh;
}

.links-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 1vh;
}

.links-icon {
  color: rgba(0, 0, 0, 0.2);
}

.links-icon:hover {
  color: rgba(0, 0, 0, .8);
}

.linkedin {
  color: rgba(0, 0, 0, 0.2);
}
.linkedin:hover {
  color: rgba(0, 119, 181, 1);
}

#go-back {
  color: black;
  animation: bounce 10s infinite;
  animation-delay: 10s;
  /* infinite alternate; */
}

.btn {
  height: 5vh;
  margin: auto;
  margin-top: 4vh;
  width: 15vw;
  border-radius: 5px;
  background-color: rgb(26, 64, 113);
  color: white;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* @media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 1023px) {
}
@media only screen and (max-width: 640px) {
} */
@media only screen and (max-width: 480px) {
  body {
    overflow-y: auto;
  }
  
  h1 { 
    font-size: 1.5em !important;
  }

  #welcome {
    top: 45vh;
  }
  #about-me { 
    overflow-y: scroll;
  }

  #btn-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 30vh;
    margin-left: 0 auto;
  }

  .btn {
    height: 8vh;
    width: 25vw;
    position: relative;
  }
}
